
            
            <section class="content" id="content--full">
                <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20">{{page.split('/')[2]}} {{page.split('/')[1]}} Manager</h1>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-sm-12">
                        <div class=" no-padding no-margin">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-header padding-15 m-b-20">
                                        <h2 class="card-title">Activity</h2>
                                        <small class="card-subtitle">Your last activity is posted 24 hours ago.</small>
                                    </div>
                                    <div class="card-block row">
                                        <div class="col-sm-9 no-padding" style="width: 100% !important; height: 300px !important; margin-top: -20px !important; margin-bottom: 30px !important">
                                            <br />
                                            <canvas class="seo" id="line-chart"></canvas>
                                            <br />
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <div class="row" style="margin-top: -10px">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <div class="card bg-indigo-light padding-10">
                                                        <div class="row">
                                                            <div class="col-2 text-left">
                                                                <i class=" zmdi zmdi-facebook-box text-white m-t-5 fs-20 p-l-10"></i>
                                                            </div>
                                                            <div class="col-8 no-padding text-right">
                                                                <h4 class="fs-15 text-white m-t-5">54K <span class="bold fs-14">Likes</span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: -20px">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <div class="card bg-blue padding-10">
                                                        <div class="row">
                                                            <div class="col-2 text-left">
                                                                <i class=" zmdi zmdi-twitter-box text-white m-t-5 fs-20 p-l-10"></i>
                                                            </div>
                                                            <div class="col-8 no-padding text-right">
                                                                <h4 class="fs-15 text-white m-t-5">30K <span class="bold fs-14">Likes</span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: -20px">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <div class="card bg-red padding-10">
                                                        <div class="row">
                                                            <div class="col-2 text-left">
                                                                <i class=" zmdi zmdi-google-plus-box text-white m-t-5 fs-20 p-l-10"></i>
                                                            </div>
                                                            <div class="col-8 no-padding text-right">
                                                                <h4 class="fs-15 text-white m-t-5">4K <span class="bold fs-14">Shares</span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: -20px">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <div class="card bg-warning padding-10">
                                                        <div class="row">
                                                            <div class="col-2 text-left">
                                                                <i class=" zmdi zmdi-globe-alt text-white m-t-5 fs-20 p-l-10"></i>
                                                            </div>
                                                            <div class="col-8 no-padding text-right">
                                                                <h4 class="fs-15 text-white m-t-5">356K <span class="bold fs-14">Views</span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: -20px">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-9 col-sm-offset-1">
                                                    <div class="card bg-success padding-10">
                                                        <div class="row">
                                                            <div class="col-2 text-left">
                                                                <i class=" zmdi zmdi-globe text-white m-t-5 fs-20 p-l-10"></i>
                                                            </div>
                                                            <div class="col-8 no-padding text-right">
                                                                <h4 class="fs-15 text-white m-t-5">899K <span class="bold fs-14">Visitors</span></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                <div class="row no-padding m-t-20">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body no-padding">
                                <div class="row m-t-30">
                                    <div class="col-sm-4">
                                        <h4 class="bold">Facebook Analytics</h4>
                                        <p class="text-default">View all analytical Data from facebook (share, like, view etc)</p>
                                        <button class="btn btn-info">Go to Facebook Admin</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="bold">Google Analytics</h4>
                                        <p class="text-default">View all analytical Data from Google (share, like, view etc)</p>
                                        <button class="btn btn-danger">Go to Google Analytics</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="bold">Twitter Analytics</h4>
                                        <p class="text-default">View all analytical Data from Twitter (share, like, view etc)</p>
                                        <button class="btn btn-info">Go to Twitter Admin</button>
                                    </div>
                                </div>
                                <div class="row m-t-20">
                                    <div class="col-sm-3 card">
                                        <h4 class="bold">Piwik Analytics</h4>
                                        <p class="text-default">View all site analytical Data from piwik</p>
                                        <button class="btn btn-success">Go to Piwik Admin</button>
                                    </div>
                                    <div class="col-sm-3 card">
                                        <h4 class="bold">Seo Panel Analytics</h4>
                                        <p class="text-default">View all seo Data from search engines</p>
                                        <button class="btn btn-warning">Go to Seo Analytics</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>