
	
<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
    <head>
        <base href="//localhost:8888/projects/admin/" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="application-name" content="Kaos" />
        <meta name="robots" content="no-follow, no-index">
        <title>Dashboard</title>

        <!-- Styles -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="assets/js/loader.js" ></script>
        <!-- Vendor styles -->
        <link rel="stylesheet" href="libs/bootstrap/css/glyphicon.css">        
        <link rel="stylesheet" href="assets/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/vendors/bower_components/animate.css/animate.min.css">
        <link rel="stylesheet" href="assets/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css">
        <!-- App styles -->
        <link rel="stylesheet" href="assets/css/app.min.css">
        <link rel="stylesheet" href="libs/wysihtml5/bootstrap3-wysihtml5.min.css">

    </head>
    
    <body data-ma-theme="teal" ng-class="(page == '/Login') ? 'login-content' : 'bg-gray-light'">
        <main class="main">
            <div ng-class="(dataLoading == true) ? hidden : ''" class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>

            <div ng-include="'Pages/components/header.html'"></div>
            <div ng-include="'Pages/components/navbar.html'"></div>
    
            <ui-view></ui-view>

            <button class="hidden" id="galleryBtn" data-target="#gallery" data-toggle="modal">Select Image</button>
            <!-- Gallery -->
            <div class="modal fade" id="gallery" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body no-padding padding-10">
                            <div class="no-padding">
                                <ul class="nav nav-tabs simple-nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" data-target="#upload" role="tab">Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="listBtn" data-toggle="tab" data-target="#listinggallery" role="tab">Gallery</a>
                                    </li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="tab-pane active fade show" id="upload" role="tabpanel">
                                        <div class="row">
                                            <div class="col-4 offset-4 m-t-100 m-b-100" align="center">
                                                <button class="btn btn-cons btn-secondary btn-lg" ng-click="clickUpload()">Upload file</button>
                                                <div class="clearfix"></div>
                                                Upload file to server 
                                            </div>
                                        </div>
                                        <form method="POST" enctype="multipart/form-data">
                                            <input type="file" ng-file-model="files" id="file" class="form-control hidden" required multiple>
                                        </form>
                                        <!-- <div class="row" ng-repeat="(index, file) in files">
                                            <div class="col-2">
                                                <img ng-src="{{convertUrl(file.url)}}" style="height: 100px !important; width: 100px !important" />
                                            </div>
                                            <div class="col-6">
                                                <p class="fs-14 bold" ng-bind="file.name"></p>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="tab-pane fade h-80" id="listinggallery" role="tabpanel">
                                        <div class="row p-l-10 p-r-10">
                                            <div class="col-sm-2 p-l-5 p-r-5 img-wrap" style="margin-top: 10px" ng-if="index !== 'count'" ng-repeat='(index, images) in Files'>
                                                <span class="btn btn-danger btn-sm close text-white btn-circle" ng-click="deleteImage(images)">&times;</span>
                                                <span ng-bind="index" class="hidden"></span>
                                                <img ng-click="saveImageUrl(images)" class="img-responsive gallery-img" ng-src="{{images}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer hidden">
                        <button type="button" class="btn btn-link close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="hidden" id="okBtn" data-target="#okay" data-toggle="modal">confirm</button>
            <!-- Confirm Modal -->
            <div class="modal fade" id="okay" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title pull-left">Notification</h5>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-black fs-20" ng-bind="msg"></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-link" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="hidden" id="errorBtn" data-target="#error" data-toggle="modal">error</button>
            <!-- Confirm Modal -->
            <div class="modal fade" id="error" tabindex="-1">
                <div class="modal-dialog modal-sm bg-red">
                    <div class="modal-content bg-danger">
                        <div class="modal-header">
                            <h5 class="modal-title text-white pull-left">Error Notification</h5>
                        </div>
                        <div class="modal-body text-white" ng-bind="Error"></div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn bg-white text-danger" data-dismiss="modal">DImiss</button>
                        </div>
                    </div>
                </div>
            </div>        </main>

        <!-- Older IE warning message -->
        <!--[if IE]>
            <div class="ie-warning">
                <h1>Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

                <div class="ie-warning__downloads">
                    <a href="http://www.google.com/chrome">
                        <img src="img/browsers/chrome.png" alt="">
                    </a>

                    <a href="https://www.mozilla.org/en-US/firefox/new">
                        <img src="img/browsers/firefox.png" alt="">
                    </a>

                    <a href="http://www.opera.com">
                        <img src="img/browsers/opera.png" alt="">
                    </a>

                    <a href="https://support.apple.com/downloads/safari">
                        <img src="img/browsers/safari.png" alt="">
                    </a>

                    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                        <img src="img/browsers/edge.png" alt="">
                    </a>

                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="img/browsers/ie.png" alt="">
                    </a>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->        
        
        <!-- Javascript -->
        <!-- Vendors -->
        <script src="assets/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="assets/vendors/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="assets/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="assets/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="assets/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>

        <!-- Vendors: Data tables -->
        <script src="assets/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="assets/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="assets/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="assets/vendors/bower_components/jszip/dist/jszip.min.js"></script>
        <script src="assets/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>

        <!-- App functions and actions -->
        <script src="libs/wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <script src="libs/bootstrap/js/bootstrap-notify.min.js"></script>
        <script src="assets/js/app.min.js"></script>

        <!-- Angular Js -->
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular/angular-ui-router.js"></script>
        <script src="libs/angular/angular-local-storage.js"></script>
        <script src="libs/angular/angular-datatable.min.js"></script>
        <script src="libs/angular/angular-sanitize.js"></script>
        <!-- Angular Core App -->
        <script src="app/general.js"></script>
        <script src="app/app.js"></script>
        <!-- Controllers -->
        <script src="app/controllers/controller.js"></script>
        <script src="app/controllers/blog.js"></script>
        <script src="app/controllers/account.js"></script>
        <script src="app/controllers/pages.js"></script>
        <!-- Services -->
        <script src="app/services/request.js"></script>
        <script src="app/services/services.js"></script>
    </body>
</html>