
            <section class="content" id="content--full">
                <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20">{{page.split('/')[1]}} Manager</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active no-padding padding-10 bold" data-toggle="tab" data-target="#termsTab"><span>Terms & Privacy</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link no-padding padding-10 bold" data-toggle="tab" data-target="#aboutTab"><span>About Page</span></a>
                            </li>
                        </ul>
                        <div class="no-padding tab-content">
                            <section class="tab-pane fade active show row" id="termsTab">
                                <form name="form" class="col-sm-12" ng-submit="pages.saveTerm()" role="form">
                                    <div ng-class="{ 'has-error': form.Terms.$dirty && form.Terms.$error.required }">
                                        <textarea class="form-control bg-gray-light padding-10" style="width: 100%; height: 450px; font-size: 14px; line-height: 18px;"  ng-model="pages.Terms" required ></textarea>
                                        <span ng-show="form.Terms.$dirty && form.Terms.$error.required" class="help-block">Terms data is required</span>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" ng-disabled="form.$invalid" class="btn bg-indigo-light btn--action btn--fixed">
                                            <i class="zmdi zmdi-google-play"></i>
                                        </button>
                                    </div>
                                </form>
                            </section>
                            <section class="tab-pane row" id="aboutTab">
                                <form name="form" class="col-sm-12" ng-submit="pages.saveAboutUs()" role="form">
                                    <div ng-class="{ 'has-error': form.aboutUs.$dirty && form.aboutUS.$error.required }">
                                        <textarea class="form-control bg-gray-light padding-10" style="width: 100%; height: 450px; font-size: 14px; line-height: 18px;" ng-model="pages.aboutUS" required ></textarea>
                                        <span ng-show="form.aboutUS.$dirty && form.aboutUS.$error.required" class="help-block">About Us data is required</span>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" ng-disabled="form.$invalid" class="btn bg-indigo-light btn--action btn--fixed">
                                            <i class="zmdi zmdi-google-play"></i>
                                        </button>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </section>