
.search
{
    margin-left: 30px !important;
}
.shadow-bottom
{
    box-shadow: 5px 0px 10px rgba(0,0,0,.08);
}
.bg-indigo-light
{
    background-color: rgb(59, 120, 231) !important;
}
.bg-indigo-light *
{
    color: #ffffff !important;
}
.bg-gray-light
{
    background-color: #FAFAFA !important;
}
.input, .select
{
    padding-left : 10px !important;
}
.input-sm
{
    height: 30px !important;
}
.h-100
{
    height: 100vh !important;
}
.h-90
{
    height: 90vh !important;
}
.h-80
{
    height: 80vh !important;
}
.h-70
{
    height: 70vh !important;
}
.h-60
{
    height: 60vh !important;
}
.h-50
{
    height: 50vh !important;
}
.text-black
{
    color: #000 !important;
}
.text-dark
{
    color: #666 !important;
}
.text-default
{
    color: #999 !important;
}
ul.top-nav .user
{
    background-color: transparent !important;
    position: relative; 
    top: 10px; 
    float: right;
}
.content
{
    margin-top: -20px !important;
}
#loginForm
{
    width: 320px !important;
}
.header
{
    height: 60px !important;
    box-shadow: 0px !important;
}
.page-table
{
    top: -20px !important;
    position: relative !important;
}
.manager-table
{
    position: relative !important;
    top: -30px !important;
}
.page-table thead *
{
    padding: 5px 10px !important;
}
tr td
{
    font-weight: 500 !important; 
}
.td-condensed
{
    margin-bottom: -25px !important;
    padding-top: 0px !important;
    height: 35px !important; 
    max-width: 400px !important;
    display: block;
    overflow:hidden;
    word-wrap:break-word;
}
.td-condensed *
{
    font-weight: 400 !important;
    font-size: 13px !important;
}
.content#content--full
{
    position: relative !important;
    top: -15px !important;
}
.p-r-5
{
    padding-right: 5px !important;
}
.p-r-10
{
    padding-right: 10px !important;
}
.p-l-5
{
    padding-left: 5px !important;
}
.p-l-10
{
    padding-left: 10px !important;
}
.p-t-20
{
    padding-top: 20px !important;
}
.p-t-30
{
    padding-top: 30px !important;
}
.m-t-5
{
    margin-top: 5px !important;
}
.m-t-10
{
    margin-top: 10px !important;
}
.m-t-15
{
    margin-top: 15px !important;
}
.m-t-20
{
    margin-top: 20px !important;
}
.m-t-30
{
    margin-top: 30px !important;
}
.m-t-40
{
    margin-top: 40px !important;
}
.m-t-100
{
    margin-top: 100px !important;
}
.p-l-20
{
    padding-left: 20px !important;
}
.card-header.b-b
{
    border-bottom: 1px solid #eee;
}
.card-title
{
    margin-bottom: -5px !important;
}
.card-block
{
    margin-top: -20px !important;
}
.hidden
{
    display: none !important;
}
.btn-upload
{
    width: 200px !important;
    margin: 200px auto 150px;
}
.featured-box
{
    width:100% !important;
    height:200px !important;
}
.featured-box button
{
    margin: 90px 100px;
    height: 30px;
}
.no-padding
{
    padding: 0px !important;
}
.bg-gray
{
    background: #eee !important;
}
.text-gray
{
    color: #ddd;
}
.hint-text
{
    font-weight: 100 !important;
}
.padding-10
{
    padding: 10px !important;
}
.padding-5
{
    padding: 5px !important;
}
.padding-15
{
    padding: 15px !important;
}
.padding-20
{
    padding: 20px !important;
}
.bold
{
    font-weight: 500 !important;
}
.fs-18
{
    font-size: 18px !important;
}
.fs-30
{
    font-size: 30px !important;
}
.fs-20
{
    font-size: 20px !important;
}
.fs-25
{
    font-size: 25px !important;
}
.fs-12
{
    font-size: 12px !important;
}
.fs-14
{
    font-size: 14px !important;
}
.fs-15
{
    font-size: 15px !important;
}
.fs-16
{
    font-size: 16px !important;
}
#line-chart
{
    position: relative;
    height: 350px !important;
    padding-bottom: 30px !important;
}
.seo#line-chart
{
    height: 400px !important;
    padding-bottom: 30px !important;
}
i.quick-stats-icon
{
    border-radius: 100px; 
    padding: 13px 15px;
}
.m-b-10
{
    margin-bottom: 10px !important;
}
.m-b-15
{
    margin-bottom: 15px !important;
}
.m-b-100
{
    margin-bottom: 100px !important;
}
.m-b-30
{
    margin-bottom: 30px !important;
}
.m-b-40
{
    margin-bottom: 40px !important;
}
.m-r-15
{
    margin-right: 15px !important;
}
.m-r-20
{
    margin-right: 20px !important;
}
.m-r-25
{
    margin-right: 25px !important;
}
.m-r-35
{
    margin-right: 35px !important;
}
.m-r-50
{
    margin-right: 50px !important;
}
.m-l-10
{
    margin-left: 10px !important;
}
.m-l-15
{
    margin-left: 15px !important;
}
.m-l-20
{
    margin-left: 20px !important;
}
.text-default
{
    color: #999 !important;
}
.fw-100
{
    font-weight: 100 !important;
}
img.gallery-img
{
    height: 150px; 
    width: 100%; 
}
img.gallery-img:hover
{
    border:3px solid rgb(94, 169, 204); 
}
.img-wrap {
    position: relative;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}
.form-group label 
{
    margin-bottom: -20px !important;
}
.b-b
{
    border-bottom: 1px solid #eee;
}
.wysihtml5-toolbar li a
{
    color: #555 !important;
}
body.login-content
{
    overflow: hidden;
}
/* .login
{
    margin-top: 5vh !important;
} */
#data-table_filter
{
    background-color: #FAFAFA;
    margin-top: -10px !important;
}
#data-table_filter label
{
    padding-left: 10px !important;
}
.modal-lg {
    max-width: 900px !important;
  }