        

            <section class="content" id="content--full">
                <!-- <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20"><i class="zmdi zmdi-long-arrow-return fs-18 p-r-10"></i> Add {{page.split('/')[1]}} Manager</h1>
                    </div>
                </div> -->
                <form name="form" class="row" ng-submit="posts.createPost()" role="form"> 
                    <div class="col-sm-8">
                        <div class="row no-padding m-t-20">
                            <div class="col-sm-10 col-xs-12">
                                <div class="form-group form-top" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
                                    <label for="title" class="fs-14 font-arial bold m-b-10">Title</label>
                                    <input type="text" placeholder="Enter blog title ..." name="title" id="title" class="form-control bg-gray input-sm p-l-10" ng-model="posts.title" required />
                                    <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block text-danger">Title is required</span>
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group" >
                                    <label class="fs-14 bold m-b-10" for="description">Blog description</label>
                                    <textarea class="form-control bg-gray padding-10" placeholder="Enter text ..." style="width: 100%; height: 370px; font-size: 14px; line-height: 18px;" ng-model="posts.description" required></textarea>
                                    <!-- <text-angular name="htmlcontent" id="description" ng-model="posts.description" required ></text-angular> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="hidden-xs m-t-20"></div>
                            <div class="form-group">
                                <label for="category" class="fs-14 bold m-b-10">Category</label>
                                <select name="category" id="category" class="input-sm select form-control bg-gray p-l-10">
                                    <option >Select a Category</option>
                                    <option value='parent'>Parent</option>
                                    <div ng-if="categories == 'No content was found'"></div>
                                    <div ng-if="categories != 'No content was found'">
                                        <option value="{{category.name}}" ng-if="index !== 'count'" ng-repeat="(index, category) in categories" ng-bind="category.name"></option>
                                    </div>
                                </select>
                            </div>
                        <div class="form-group p-b-5" ng-class="{ 'has-error': form.author.$dirty && form.author.$error.required }">
                            <label for="author" class="fs-14 bold m-b-10">Author</label>
                            <input type="text" name="author" id="author" class="input-sm form-control p-l-10 bg-gray" ng-model="posts.author" required />
                            <i class="form-group__bar"></i>
                            <span ng-show="form.author.$dirty && form.author.$error.required" class="help-block">Author is required</span>
                        </div>
                        <div class="form-group p-b-5 no-padding">
                            <img src="" id="featuredImage" class="hidden m-t-10 m-b-20" style="width:100%; height:200px" />
                            <a class="fs-15 bold text-primary text-left " data-target="#gallery" data-toggle="modal" id="selectImage">Click to set a featured Image</a>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="form-actions">
                            <button type="submit" class="btn bg-indigo-light btn--action btn--fixed">
                                <i class="zmdi zmdi-google-play"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </secton>
