
            <section class="content" id="content--full">
                <!-- <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20"><i class="zmdi zmdi-long-arrow-return fs-18 p-r-10"></i>Posts {{page.split('/')[1]}} Manager</h1>
                    </div>
                </div> -->
                <div class="table-responsive page-table m-t-30 bg-white p-r-10 p-l-10 p-b-50">
                    <h3 class="text-danger" ng-bind="Comments" ng-if="Comments == 'No content was found'"></h3>
                    <p class="text-danger" ng-bind="Error"></p>
                    <p class="text-success" ng-bind="response"></p>
                    <table class="table table-hover table-condensed manager-table" datatable="ng" dt-options="dtOptions" ng-if="Comments != 'No content was found'">
                        <thead>
                            <tr>
                                <th width="20%" class="">Post Title</th>
                                <th width="35%">Comment</th>
                                <th>Posted By</th>
                                <th>Posted On</th>
                                <th>Manage</th>                                                    
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(index, comments) in Comments" ng-if="index !== 'count'" class="tr-condensed">
                                <td>
                                    <div class="bold" ng-bind="comments.post"></div>
                                </td>
                                <td>
                                    <div ng-bind-html="comments.comment" class="td-condensed"></div>
                                </td>
                                <td ng-bind="comments.posted_by"></td>
                                <td ng-bind="comments.posted_on" class="bold"></td>
                                <td>
                                    <!-- <button class="btn btn-link no-padding m-r-15 text-black" data-target="#editPost" data-toggle="modal"><i class="fs-18 zmdi zmdi-edit"></i></button> -->
                                    <button class="btn btn-link no-padding text-black" ng-click="posts.deleteComments(comments.id)"><i class="fs-16 zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="Posts/Add" class="btn btn-md btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">Add New Post</a>
                <a href="Posts/Category" style="margin-bottom: 40px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View Posts Category</a>
                <a href="Posts" style="margin-bottom: 80px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View All Posts</a>
            </section>