        

            <section class="content" id="content--full">
                <div class="table-responsive page-table m-t-30 bg-white p-r-10 p-l-10 p-b-50">
                    <table datatable="ng" dt-options="dtOptions" id="data-table" class="table table-hover table-condensed manager-table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th width="20%">Title</th>
                                <th width="30%">Description</th>
                                <th>Category</th>
                                <th>Published</th>
                                <th>Author</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr ng-repeat="(index, postData) in Posts" ng-if="index !== 'count'">
                                <td class="no-padding padding-10" ng-click="posts.post(postData.title)">
                                    <img ng-src="{{postData.image}}" class="bg-default img-rounded img-thumbnail" style="height: 50px" alt="{{postData.title}}">
                                </td>
                                <td ng-click="posts.post(postData.title)">
                                    <div class="semi-bold td-condensed" ng-bind="postData.title"></div>
                                </td>
                                <td class="no-padding padding-10 " ng-click="posts.post(postData.title)">
                                    <div ng-bind="cutString(postData.description, 20)"></div>
                                </td>
                                <td ng-click="posts.post(postData.title)">
                                    <label ng-bind="postData.category"></label>
                                </td>
                                <td ng-click="posts.post(postData.title)">
                                    <p class="td-condensed semi-bold" ng-bind="postData.posted_on"></p>
                                </td>
                                <td ng-bind="postData.author" class="semi-bold"></td>
                                <td>
                                    <button ng-click="posts.deletePost(postData.id)" class="btn btn-sm text-black"><i class="fs-16 zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="Posts/Add" class="btn btn-md btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">Add New Post</a>
                <a href="Posts/Category" style="margin-bottom: 40px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View Posts Category</a>
                <a href="Posts/Comments" style="margin-bottom: 80px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View All Posts Comments</a>
            </section>