

            <section class="content" id="content--full">
                <!-- <div class="container-fluid no-padding no-margin bg-gray shadow-bottom" style="height: 50px; width: 104.5%; margin-top: -10px; margin-left: -20px">
                    <div class="col-sm-12 m-l-10">
                        <h1 class="fs-16 text-dark p-t-20"><i class="zmdi zmdi-long-arrow-return fs-18 p-r-10"></i> {{page.split('/')[1]}} Category Manager</h1>
                    </div>
                </div> -->
                <div class="row m-t-20">
                    <div class="col-sm-3 p-l-30">
                        <form role="form" ng-submit=" posts.createCategory()">
                            <div class="form-group form-group-default" ng-class="{ 'has-error': form.category.$dirty && form.category.$error.required }">
                                <label for="category" class="bold text-mute fs-14">Category</label>
                                <input name="category" id="category" class="form-control" placeholder="Enter Category Name" ng-model="posts.category" required> </textarea>
                                <span ng-show="form.category.$dirty && form.category.$error.required" class="help-block">Category is required</span>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                                <label for="description" class="bold text-mute fs-14">Description</label>
                                <textarea style="height: 100px" name="description" id="description" placeholder="Enter Category Description" class="form-control" ng-model="posts.description" required> </textarea>
                                <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Category Description is required</span>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': form.category.$dirty && form.category.$error.required }">
                                <label for="category" class="bold text-mute fs-14">Category</label>
                                <select name="category" id="category" class="form-control">
                                    <option >Select a Category</option>
                                    <option value='parent'>Parent</option>
                                    <div ng-if="categories == 'No content was found'"></div>
                                    <div ng-if="categories != 'No content was found'">
                                    <option value="category.name" ng-repeat="category in categories" ng-bind="category.name"></option>
                                    </div>
                                </select>
                            </div>
                            <div class="form-actions">
                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn bg-indigo-light text-white btn-md btn-block">Add Category</button>
                            </div>
                            <br />
                        </form>
                    </div>
                    <div class="col-sm-9">
                        <div class="table-responsive" ng-if="categories != 'No content was found'">
                            <table class="table table-hover">
                                <thead class="thead-default">
                                <tr class="no-padding no-margin bg-white">
                                    <th width="25%" class="fs-12 text-dark">Name</th>
                                    <th width="50%" class="fs-12 text-dark">Description</th>
                                    <th class="fs-12 text-dark">Type</th>
                                    <th class="fs-12 text-dark">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(index, category) in categories" ng-if="index !== 'count'">
                                    <td ng-bind="category.name"></td>
                                    <td ng-bind="category.description"></td>
                                    <td>
                                    <label class="label label-primary" ng-bind="category.sub"></label>
                                    </td>
                                    <td>
                                        <a ng-click="posts.deleteCategory(category.id)"><i class="fs-16 zmdi zmdi-delete"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="Posts/Add" class="btn btn-md btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">Add New Post</a>
                <a href="Posts" style="margin-bottom: 40px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View All Posts</a>
                <a href="Posts/Comments" style="margin-bottom: 80px !important" class="btn btn-transparent btn--fixed bg-indigo-light text-white animated bounceInRight">View All Posts Comments</a>
            </section>

            