       
       
            <section class="content" id="content--full">
              <div class="container">
                  <section class="error" style="margin-top: -50px">
                      <div class="error__inner">
                          <h1 class="text-danger">404</h1>
                          <h2>The page you were looking for doesn't exist!</h2>
                          <p class="text-danger">This page you are looking for does not exsist <a href="Dashboard">GO BACK?</a></p>
                      </div>
                  </section>
              </div>
            </section>