
                            <header class="header" ng-if="sidebar !== false">
                
                                <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
                                    <div class="navigation-trigger__inner">
                                        <i class="navigation-trigger__line"></i>
                                        <i class="navigation-trigger__line"></i>
                                        <i class="navigation-trigger__line"></i>
                                    </div>
                                </div>
                                
                                <div class="header__logo hidden-sm-down" ng-if="sidebar != false">
                                    <h1><a class="text-white">Administrator - <span ng-bind="title"></span></a></h1>
                                </div>

                                <form class="search">
                                    <div class="search__inner">
                                        <input type="text" class="search__text" placeholder="Search for people, files, documents...">
                                        <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
                                    </div>
                                </form>
                
                                <ul class="top-nav" ng-if="sidebar !== false">
                                    <li class="dropdown">
                                        <div class="user">
                                            <div class="user__info" data-toggle="dropdown">
                                                <i class="avatar-char fs-30"><i class="zmdi zmdi-account-circle text-info"></i></i>
                                                <div>
                                                    <div class="user__name bold text-white" ng-bind="globals.currentUser.username">John Doe</div>
                                                    <div class="user__email bold text-white" ng-bind="globals.access">Guest</div>
                                                </div>
                                            </div>
                
                                            <div class="dropdown-menu m-t-40" style="position: relative; top: 40px;">
                                                <a class="dropdown-item text-default" href="#">View Profile</a>
                                                <a class="dropdown-item text-default" href="Settings">Settings</a>
                                                <a class="dropdown-item text-default" href="Logout">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </header>