
        
            <aside class="sidebar bg-white" ng-if="sidebar !== false">
                <div class="scrollbar-inner">
                    
                    <ul class="navigation">
                        <li class=""><a href="Dashboard"><i class="zmdi zmdi-home"></i> Dashboard</a></li>
                        
                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important" />

                        <li class=""><a href="#"><i class="zmdi zmdi-chart"></i>Site Analytics</a></li>
                        <li><a class="ml-4" href="Analytics/Logs">Logs</a></li>
                        <li><a class="ml-4" href="Analytics/Seo">Seo</a></li>

                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important" />

                        <li class=""><a href="#"><i class="zmdi zmdi-view-web"></i>Interfaces</a></li>
                        <li class="#"><a class="ml-4" href="Faqs">Frequently Asked Questions</a></li>
                        <li class="#"><a class="ml-4" href="Pages">Pages</a></li>

                        <hr style="margin-top: 5px !important; margin-bottom: 5px !important" />

                        <li class=""><a href="Accounts/Managers"><i class="zmdi zmdi-account-circle"></i> Managers</a></li>
                    </ul>
                </div>
            </aside>
